body {
    background-color: white;
  }
  
  h4{
    font-family: 'Merriweather', serif;
  }
  .intro {
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    display: cover;
    text-align: center;
    color: white;
    padding-top: 20%;
  }
  .Dlogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .MouseClick {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .aboutUs {
    text-align: center;
    color: black;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
  }
  .services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    display: block;
    text-align: center;
    color: white;
  }
  .hide{
    display:none;
  }
  .custom-info-on-portfolio-images {
    height: 280px;
    max-width: 280px;
    padding:2px;
  }
  .row{
    padding:2%;
  }
  .Contact-Us {
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size:cover;
    display: cover;
    padding: 10%;
  }
  form #contact{
    background-color: rgba(250, 246, 246, 0);
  }
  
  input[type=text] {
    background:transparent;
    color: white;
  }
  textarea[type=text] {
    background:transparent;
    color: white;
  }
  
  .submit{
    position:absolute;
    padding-left: 25%;
  }
  
  .Footer {
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    font-family: 'Amaranth', sans-serif;
  }
  .Hover_designKenya{
    align-items: stretch;
  }
  